<div class="nav">
    <ul>
        <li>
            <a href="/fetch_post_data">Posts</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
    </ul>
    <% if(user){ %>
        <a href="/logout" style="margin-top: 12px; margin-right: 12px;"><button class="btn btn-danger">Logout</button></a>
    <% } else { %>
        <a href="/" style="margin-top: 12px; margin-right: 12px;"><button class="btn btn-danger">Sign in</button></a>
    <% } %>
</div>