<%- include('./partials/header.ejs') %>



    <div class="home-page">

        <%- include('./partials/nav.ejs')%>

        <h1>Hello this is home page</h1>
        <h1>Hello <%= user.username %>
        </h1>
    </div>


    <%- include('./partials/footer.ejs') %>